# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build outputs
dist/
build/

# VS Code / history
.vscode/
.history/

# OS and temporary files
.DS_Store
Thumbs.db
